body {
    margin: 0px;
    font-family:  'Space Mono, Arial', monospace;
    font: monospace;
}
#filename {
    margin: -50px;
    padding: -15px;
    font-family:  'Space Mono, Arial', monospace;
    font: monospace;
    background-color: #ed4e32;
    border: 2px solid #ed4e32;
    border-radius: 5px;
}
input#filname:hover {
    background-color: white;
    border-radius: 5px;
    border: 2px solid white;
    box-shadow: 0px 1px 1px white;
}
#top{
    background: #b52b12;
    color: white;
    font-size: 18px;
    text-align: center;
}
#header {
    background: #e64e32;
    color: white;
    font-size: 18px;
    margin-top: 40px;
}
#name {
    display: inline-block;
}
#menu a, #menubutton a {
    text-decoration: none;
    color: black;
    text-transform: uppercase;
    font-size: 17px;
}
.clear {
    clear: both;
}
#container {
    margin: 20px 20px 20px 20px;
}
#area {
    width: 100%;
    height: 100%;
    color: black;
    border: 2px solid white;
}
#area:focus {
    color: black;
    outline: none;
}
.footer {
    width: 100%;
    background-color: #ed4e32;
    height: 32px;
    position: fixed;
    bottom: 0px;
}
#top {
    margin-top: -40px;
    margin-bottom: -45px;
}
@media only screen and (min-width: 680px) {
    a#button, #about, #home, #saveas, #load, #menulink, #bbutton {
        width: 100px;
        border-radius: 3px;
        border-left: : 10px solid white;
        color: black;
        text-decoration: none;
        text-align: left; 
        padding: 2px 2px 2px 2px;
        text-shadow: 0px 1px 1px grey;
    }   
    #bar {
        display: none;
    }
    #area {
        width: 100%;
        height: 100%;
        color: black;
        border: 2px solid white;
    }
    .menuitem {
    }
    .menuitem + .menuitem {
        color: white;
    }
    #aboutus {
    font-size: 40px
    }
}
@media only screen and (max-width: 679px) {
    a#button, #about, #home, #saveas, #load, #menulink, #bbutton {
        width: 100px;
        border-radius: 3px;
        border-left: : 10px solid white;
        color: black;
        text-decoration: none;
        text-align: left; 
        padding: 2px 2px 2px 2px;
        text-shadow: 0px 1px 1px grey;
        font-size: 20px;
    }
    #bar {
        position: fixed;
        bottom: 0;
        background-color: lightgrey;
        width: 100%;
        height: 50px;
        font-size: 20px;
    }
    #area {
        width: 100%;
        height: 100%;
        color: black;
        border: 2px solid white;
        font-size: 18px;
    }
    #menubutton {
        display: inline;
    }
    /*#menu {
        position: fixed;
        background: #e6482c;
        padding: 2%;
        font-size: 30px;
        float: left;
        box-shadow:  1px 1px 3px black;
        border-radius: 5px;
    }*/
    .shownmenu {
        display: block;
    }
    .menuitem {
        display: block;
    }
    .menuitem + .menuitem {
    }
}
#controls {
}
a#button:hover {
    background: #ed4e32;
    color: white;
    box-shadow:  1px 1px 3px black;
}
a#button:active {
    color: #ed4e32;
    box-shadow: 0px 1px 1px white inset;
}

a#menulink:hover {
    background: #ed4e32;
    color: white;
    box-shadow:  1px 1px 3px black;
}
a#menulink:active {
    color: #ed4e32;
    box-shadow: 0px 1px 1px white inset;
}
a#bbutton:hover {
    color: white;
    box-shadow:  1px 1px 3px black;
}
a#bbutton:active {
    color: white;
    box-shadow: 0px 1px 1px white inset;
}

#inputfile {
    width: 100px;
    border-radius: 5px;
    color: white;
    text-decoration: none;
    text-align: left; 
    padding: 2px 2px 2px 2px;
    text-shadow: 0px 1px 1px grey;
}
.fhiddenmenu, .fohiddenmenu, .hhiddenmenu, .lohiddenmenu {
    display: none;
}
#menu {
        display: inline-block none;
        color: white
    }
#menu {
        background: #e6482c;
        padding: 2%;
        /*float: left;*/
        font-size: 30px;
        box-shadow:  1px 1px 3px black;
        border-radius: 5px;
    }
#menulink {
    border: 2px 0px 2px solid white;
    border-collapse: collapse; 
}
#fmenu, #fomenu, #hmenu {
    margin-bottom: 0px;
    float: left;

}
table {
    margin-bottom: 0px;
}
.lohiddenmenu {
    float: left;
    box-shadow:  1px 1px 3px black;
}